<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    
    <style>
        body {
            text-align: center;
            background-color: aquamarine;
        }
        form {
            display: inline-block;
        }
    </style>

<body>
    <h3>Hola Gente, Por favor completa este formulario </h3>
    <form action="/passing" method="POST">
        <p>Name <input type="text" name="name"></p>
        <p>Email <input type="email" name="email"></p>
        <p>Phone Number <input type="text" name="phone"></p>
        <p><input type="submit" value="Enviar"></p>
    </form>
    <h4>Vamo a dale gooo</h4>
</body>
</html>